@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, rgb(22, 140, 167), rgb(132, 54, 209));
}

header {
  background-color: rgb(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  margin: 20px;
  border-radius: 15px;
  position: sticky;
  top: 0;
  z-index: 1;
}

h1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 70px;
  font-family: "Young Serif", serif;
  color: rgba(17, 6, 60, 0.8);
}

header .link ul {
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
}

header .link li {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0, 0.7);
}

header .link li:hover {
  background: linear-gradient(rgb(225, 31, 225), rgb(237, 178, 66));
  border-radius: 15px;
  cursor: pointer;
}
